<IfModule mod_rewrite.c>
    RewriteEngine On
    # افزودن هدر Access-Control-Allow-Origin
    Header set Access-Control-Allow-Origin "*"

    # افزودن هدر Access-Control-Allow-Methods
    Header set Access-Control-Allow-Methods "GET, POST"
    
    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)/$ /$1 [L,R=301]

    # Handle Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>

Options -Indexes

<Files .env>
    Order allow,deny
    Deny from all
</Files>